@media screen and (max-width: 480px) {
    
    .header-content, .footer-content, .main, .form-main {
        width: 100%;
    }
    
    .left-content {
        float: none;
    }
    
    .right-content {
        float: none;
    }
    
    /*Стили для шапки */
    
    .header-content {
        padding: 3%;
    }
    
    header .logo-container {
        text-align: center;
    }
    
    header .menu {
        margin: 0px;
        padding: 0px;
        text-align: center;
    } 
    
    header .menu li {
        margin: 0px;
        margin-bottom: 15px;
        display: block;
    }
    
    
    /*Стили для главной части */
    
    .main .image-phone {
        margin-top: 20px;
        margin-bottom: 20px;
        position: static;
        text-align: center;
        width: 100%;
    }
    
    .main .image-phone img {
        width: 90%;
    }
    
    .main .main-content {
        box-sizing: border-box;
        display: block;
        padding: 0px 5%;
        width: 100%;
    }
    
    /*Стили для части формы*/
    
    .form {
        box-sizing: border-box;
        padding: 3%;
        width: 100%;
    }
    
    .form .inputs-area select {
        padding-right: 0px;
    }
    
    /*Стили для футера*/
    
    .footer-content {
        text-align: center;
    }
    
    .footer-content .copywrite, .footer-content .email {
        display: inline-block;
        width: 100%;
        margin: 0px;
    }
    
}