body {
    background-color: #ef5350;
    margin: 0px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    
}

button, input, textarea, select {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
}

header {
    width: auto;
    background-color: #e94643;
    border-top: 22px solid #04e4a2;
}

footer {
    background-color: #fefcf2;
    clear: both;
}

.header-content, .footer-content, .main, .form-main{
    width: 1200px;
    margin: auto;
}

.header-content, .footer-content {
    min-height: 78px;
}

.right-content {
    float: right;
}

.left-content {
    float: left;
}

/*Стили для шапки и её элементов */

header .menu {   
    margin: 20px 3px;
    list-style-type: none;
}

header .menu li {
    display: inline;
    margin-left: 40px;
}

header .menu li.active {
    border-bottom: 3px solid #fdd835;
}

header .menu a {
    color: #fff;
    margin: auto;
    text-decoration: none;
}

header .logo {
    color: #fff;
    display: block;
    font-size: 35px;
    font-weight: bold;
    margin: 17px;
    text-decoration: none;
}

/*Стили для верхней части сайта */

.main:after {
    background-color: #ef5350;
    clear: both;
    content: "";
    display: block;
}

.main-content{
    display: table;
    margin: auto;
    margin-bottom: 50px;
    min-height: 582px;
    max-width: 50%;
}

.image-phone {
    background-image: url(../images/greenDiagonal.png);
    background-repeat: no-repeat;
    width: 50%;
}

.image-phone img {

    
}

.text {
    color: #f9fbe8;
    display: table-cell;
    vertical-align: middle;
    text-align: justify;
}

.text a.button {
    border: 1px solid #04e4a2;
    border-radius: 5px;
    background-color: #04e4a2;
    color: #fff;
    text-decoration: none;
    padding: 20px 50px;
    
}

/*Стили для нижней части сайта*/

.contact-main {
    background-color: #fff;
    clear: both;
    height: auto;
    min-height: 394px;
    padding-bottom: 40px;
    width: auto;
}

.form-main:after {
    content: "";
    display: block;
    clear: both;
}

.form {
    margin: auto;
    width: 50%;
}

.inputs-area {
    font-size: 0px;
    padding: 0px;
}

.inputs-area .right-inputs, .inputs-area .left-inputs {
    box-sizing: border-box;
    display: inline-block;
    width: 50%;
    
}

.inputs-area .right-inputs {
    padding-left: 10px;
}

.inputs-area input, .inputs-area select, .inputs-area textarea {
    border: 3px solid #e3f2fd;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 30px 45px 30px 22px;
    margin-bottom: 10px;
}

.inputs-area input {
    width: 100%;
}

.inputs-area textarea {
    min-height: 150px;
    resize: none;
    width: 100%;
} 

.inputs-area select {
    background-color: #fff;
    padding-right: 103px;
    padding-bottom: 28px;
    width: 100%
}


.button-area {
    text-align: right;
}

.inputs-area button {
    border: 1px solid #ef5350;
    border-radius: 9px;
    background-color: #ef5350;
    color: #fff;
    padding: 20px 50px;
}

.form p {
    color: #ff8a80;
    margin-left: 35px;
    margin-top: 20px;
    margin-bottom: 20px;
}

/*Стили для футера*/

.copywrite {
    font-size: 14px;
    margin: 30px;
}

.email {
    margin-top: 5px;
}

.email a{
    color: #000;
    font-size: 18px;
    text-decoration: none
}

